#btn_criar_conta{
    background-color: #4091ff;
    color: #FFFFFF;
    border-color: #4091ff;
    border-radius: 7px;
    width: 200px;
}
#btn_fazer_login{
    background-color: #4091ff;
    color: #FFFFFF;
    border-color: #4091ff;
    border-radius: 7px;
    width: 200px;
}
#login-nav input {
    margin-bottom: 15px;
}
#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}
#legend h3 {
    margin-top: 0;
}
#legend img {
    vertical-align: middle;
}